@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

html {
  font-size: 12pt;
}

.folha {
  background-color: #ccc;
  padding: 0.5em;
}
.a4_vertical {
  width: 793px;
  height: 1122px;
}
.a4_horizontal {
  width: 1122px;
  height: 793px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(240, 240, 240);
}
.container {
  /*width: 800px;
        height: 900px;*/
  background-color: rgb(255, 255, 255);
  padding: 0;
  box-shadow: -1px 2px -2px -1px red;
}

.content {
  padding: 0 4em 4em 4em;
}

.gray-title {
  padding: 1em;
  background-color: #dedede91;
}

.fas,
.far,
.fas-solid {
  color: rgb(100, 144, 173);
}

.skills {
  display: flex;
  justify-content: space-between;
  border-bottom: solid thin #dedede47;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background-color: darkblue;
  color: #ccc;
}

.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border-right: dotted 2px rgb(93, 24, 202);
  border-radius: 80%;
}

.right-header {
  flex: 1;
}

.left-header {
  border-radius: 50%;
}

.left-header img {
  height: 70%;
  border-radius: 50%;
}

.right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 10em;
  background-color: #2b2ba69c;
}

.right-header h1,
.right-header h2,
.right-header h3,
.right-header h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.data-person {
  display: flex;
  flex: 1;
}

.container header {
  background-color: darkblue;
}

.email,
.telefone {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.email span:first-child,
.telefone span:first-child {
  font-weight: 600;
}

.exp-prof {
  display: flex;
  align-items: baseline;
}

.exp-prof .right {
  flex: 1;
  padding-left: 6em;
}

.exp-prof .left {
  width: 17%;
}
